div{
    margin: 0;
    padding: 0;
}
#grid{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    height: 5px;
    margin: auto;
}
.box{
    width: 5px;
    border: 1px solid;
}
.box:hover{
    transition: background-color .1s;
}
#colors{
    display: flex;
}
.color{
    width: 35px;
    height: 35px;
    border: 1px solid;
}
.selected{
    border: 3px solid;
}
#colors{
    padding-bottom:10px;
}
